.floatingBox {
    position: fixed;
    padding: 5px;
    box-sizing: content-box;
    /*box-shadow: 3px 3px 3px #44444452;*/
    /*background-image: -webkit-linear-gradient(left, #fefefe, #eeeeee);*/
    background-image: -webkit-linear-gradient(left, #f6f6f6, #f1f1f1);
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px ;
    transform-origin: 100% 100% 0;
    -webkit-transform-origin: 100% 100% 0;
    -ms-transform-origin: 100% 100% 0;
    z-index: 297;
}
.floatingBoxHeader{
    height: 20px;
    width: 100%;
    cursor: grab;
    border-bottom: 0.5px solid rgba(0, 0, 0, 1);
}
.floatingBoxHeader:active{
    height: 20px;
    width: 100%;
    cursor: grabbing;
    border-bottom: 0.5px solid rgba(0, 0, 0, 1);
}
.floatingBoxContent{
    cursor: pointer;
}
.containerArrow {
    /*width: 100px;*/
    /*height: 100px;*/
    padding-left: 20px;
    position: relative;
}
.firstArrow,
.secondArrow {
    margin: -10px 0px;
    font-family: Monospace;
    font-size: 25px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.secondArrow {
    z-index: 10;
}
#controlPanel{
    box-sizing: content-box;
    padding: 20px;
}
/* simpleButton and legend */
.simpleButton {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    stroke: #cccccc;
    /*stroke-width: 2;*/
}

.simpleButton.unselected{
    stroke: #cccccc;
    opacity: 0.2
}
.simpleButton.selected{
    stroke: #444444;
    opacity: 1
}
.simpleButton.hover{
    opacity: 1
}
.simpleButton:hover {
    stroke: rgba(129, 129, 129, 0.57);
    stroke-width: 3px;
    opacity: 0.9;
}