.box {
    position: absolute;
    padding: 5px;
    box-sizing: content-box;
    /*box-shadow: 3px 3px 3px #44444452;*/
    /*background-image: -webkit-linear-gradient(left, #fefefe, #eeeeee);*/
    background-image: -webkit-linear-gradient(left, #f6f6f6, #f1f1f1);
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px ;
    transform-origin: 100% 100% 0;
    -webkit-transform-origin: 100% 100% 0;
    -ms-transform-origin: 100% 100% 0;
    z-index: 100;
}
.floatingBoxHeader{
    height: 20px;
    width: 100%;
    cursor: grab;
    border-bottom: 0.5px solid rgba(0, 0, 0, 1);
}
.floatingBoxHeader:active{
    height: 20px;
    width: 100%;
    cursor: grabbing;
    border-bottom: 0.5px solid rgba(0, 0, 0, 1);
}
.floatingBoxContent{
    cursor: pointer;
}
.overlayArrow {
    fill: none;
    stroke: none;
    pointer-events: all;
    position: absolute;
    background: rgba(100,100,100,0);
    float: right;
    height: 0px;
}

.containerArrow {
    /*width: 100px;*/
    /*height: 100px;*/
    padding-left: 20px;
    position: relative;
}
.firstArrow,
.secondArrow {
    margin: -10px 0px;
    font-family: Monospace;
    font-size: 25px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.secondArrow {
    z-index: 10;
}
#controlPanel{
    box-sizing: content-box;
    padding: 20px;
}
/* --------------- BUTTONS AND LEGENDS --------------- */
.simpleButton {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    stroke: #444444;
    stroke-width: 1.5;
}

.unselected{
    /*stroke: #cccccc;*/
    opacity: 0.3
}
.selected{
    stroke: #444444;
    opacity: 1
}
.simpleButton.hover{
    stroke: rgba(173, 163, 141, 0.45);
    stroke-width: 4px;
    opacity: 1;
    r: 6
}
.newButton{
    transition: all 0.3s ease 0s;
}
.newButton.hover{
    stroke: rgba(173, 163, 141, 0.45);
    stroke-width: 4px;
    opacity: 0.9;
    r: 7
}
.complexButton.hover{
    opacity: 0.9;
}